name: Repository Dispatch
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: RO-Crate to Pages
        uses: vliz-be-opsci/profile-repository-to-pages@latest
        with:
          base_uri: https://open-science.vliz.be/demo-profile-repository/
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./unicornpages
